@{
    // Razor 頁面的開始部分，這裡可以放置 C# 代碼
}

@section Styles {
    <style>
        /* 在這裡可以添加自定義樣式 */
    </style>
}

<div class="container">
    <div class="row">&nbsp;</div> <!-- 空行，用於分隔 -->

    <div class="row">
        <div class="col-2">Connection ID</div> <!-- 用戶標籤 -->
        <div class="col-4">
            <input type="text" id="userInput" /> <!-- 用戶輸入框 -->
        </div>
    </div>

    <div class="row">
        <div class="col-2">Message</div> <!-- 消息標籤 -->
        <div class="col-4">
            <input type="text" id="messageInput" /> <!-- 消息輸入框 -->
        </div>
    </div>

    <div class="row">&nbsp;</div> <!-- 空行，用於分隔 -->

    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" /> <!-- 發送按鈕 -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr /> <!-- 分隔線 -->
    </div>
</div>

<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul> <!-- 用於顯示消息的列表 -->
    </div>
</div>

@section Scripts {
    <script>
        $(async () => {
            // 設定 SignalR 連線
            var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

            // 先讓送出按鈕不可使用，直到連線建立
            document.getElementById("sendButton").disabled = true;

            // 當接收到 ReceiveMessage 時執行的函數
            connection.on("ReceiveMessageForUser", function (message) {
                console.log({message}); // 在控制台輸出接收到的用戶和消息

                // 設定 toastr 的選項
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right", // 通知顯示位置
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                toastr["success"](`${message}`, `新消息：`);
            });

            // 開始連線
            connection.start().then(function () {
                // 連線成功後啟用送出按鈕
                document.getElementById("sendButton").disabled = false;
            }).catch(function (err) {
                // 如果連線失敗，顯示錯誤
                return console.error(err.toString());
            });

            // 設定送出按鈕的點擊事件
            document.getElementById("sendButton").addEventListener("click", function (event) {
                var connectionId = document.getElementById("userInput").value; // 獲取用戶名
                var message = document.getElementById("messageInput").value; // 獲取消息內容
                // 調用 SignalR Hub 的 SendMessage 方法，將用戶名和消息發送到伺服器
                connection.invoke("SendMessageForUser", connectionId, message).catch(function (err) {
                    // 如果發送失敗，顯示錯誤
                    return console.error(err.toString());
                });
                event.preventDefault(); // 防止表單提交
            });
        });
    </script>
}
